<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>Activity Title</title>
    </head>
    <body>
        <% @activity.each do |row| %>
        
        <a href="/home/">Home</a>
        <a href="/accounts/<%= row[:account_id] %>">Account</a>
        <a href="/dashboard/<%= row[:account_id] %>">Dashboard</a>
        <a href="/activities/<%= row[:account_id] %>">Activities</a>
        <a href="/books/<%= row[:account_id] %>">Books</a>
        <a href="/subjects/<%= row[:account_id] %>">Subjects</a>
        
        <h1><%= row[:title] %></h1>
        
        <h2>Student(s): <% @students.each do |row| %>
            <%= row[:stud_first_name] %>
        <% end %></h2>
        
        <table>
            <tr>
                <td><strong>Date of Activity:</strong></td>
                <td><%= row[:activity_date] %></td>
            </tr>
            <tr>
                <td><strong>Duration:</strong></td>
                <td><%= row[:duration] %> Minutes</td>
            </tr>
            <tr>
                <td><strong>Subject(s):</strong></td>
                <% @subjects.each do |row| %>
                <td><%= row[:subject_name] %></td>
                <% end %>
            </tr>
            <tr>
                <td><strong>Description:</strong></td>
                <td><%= row[:description] %></td>
            </tr>
        </table><br>
        
        <% @students.each do |row| %>
            <a href="/portfolio/<%= row[:account_id] %>/<%= row[:student_id] %>">View <%= row[:stud_first_name] %>'s Portfolio</a><br>
        <% end %>
        
        <% end %>
        
    </body>
</html>