<!--Access book data-->

<% @book.each do |b| %>
        
    <!--Book Title-->
    <h1 class"title"><%= b.title %></h1>
    <p class="subtitle">(Subtitle)</p>
    
    <!--Display book info-->
    <div class="author">
        <span class="label">Author:</span>
        <span class="prefix">(Prefix)</span>
        <span class="first"><%= b.author %></span>
        <span class="middle">(Middle)</span>
        <span class="last">(Last)</span>
        <span class="suffix">(Suffix)</span>
    </div>
    
    <div class="rating">
        <span class="label">Rating:</span>
        <span class="rating"><%= b.rating %> Stars</span>
    </div>
    
    <div class="category">
        <span class="label">Category:</span>
        <span class="category"><%= b.category %></span>
    </div>
    
    <div class="students">
        <span class="label">Student(s):</span>
        <!--List students who read the book-->
        <% @students.each do |s| %>
        <span class="student"><%= s.stud_first_name %></span>
        <% end %><!--End students loop-->
    </div>
    
    <div class="subjects">
        <span class="label">Subject(s):</span>
        <!--List subjects selected for the book-->
        <% @subjects.each do |j| %>
        <span class="subject"><%= j.subject_name %></span>
        <% end %><!--End subjects loop-->
    </div>
    
    <div class="date">
        <span class="label">Date Finished:</span>
        <span class="month"><%= b.finish_date.month %></span>
        <span class="day"><%= b.finish_date.day %></span>
        <span class="year"><%= b.finish_date.year %></span>
    </div>

    <div class="actions">
        <!--Link to edit book-->
        <a class="button edit" href="/books/update/<%= b.account_id %>/<%= b.pk %>">Edit Book</a>
        <!--Link to delete book-->
        <a class="button delete" href="/books/change/<%= b.account_id %>/<%= b.pk %>">Delete Book</a>
    </div>
<% end %><!--End book data access-->
        
   