<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <% @book.each do |b| %>
        <title><%= b.title %></title>
    </head>
    <body>
        <a href="/home/">Home</a>
        <a href="/accounts/<%= b.account_id %>">Account</a>
        <a href="/dashboard/<%= b.account_id %>">Dashboard</a>
        <a href="/activities/<%= b.account_id %>">Activities</a>
        <a href="/books/<%= b.account_id %>">Books</a>
        <a href="/subjects/<%= b.account_id %>">Subjects</a>
        
        <h1><%= b.title %></h1>
        
        <table>
            <tr>
                <td><strong>Author:</strong></td>
                <td><%= b.author %></td>
            </tr>
            <tr>
                <td><strong>Rating:</strong></td>
                <td><%= b.rating %> STARS</td>
            </tr>
            <tr>
                <td><strong>Genre:</strong></td>
                <td><% if(b.fiction) %>
                        <%= "Fiction" %>
                    <% else %>
                        <%= "Nonfiction" %>
                    <% end %></td>
            </tr>
            <tr>
                <td><strong>Student(s):</strong></td>
                <% @students.each do |s| %>
                <td><%= s.stud_first_name %></td>
                <% end %><!--End students loop-->
            </tr>
            <tr>
                <td><strong>Subject(s):</strong></td>
                <% @subjects.each do |j| %>
                <td><%= j.subject_name %></td>
                <% end %><!--End subjects loop-->
            </tr>
            <tr>
                <td><strong>Date Finished:</strong></td>
                <td><%= b.finish_date %></td>
            </tr>
        </table>
        <% end %><!--End book data access-->
        
    </body>
</html>