<!--Access book data-->

<% @book.each do |b| %>
        
    <!--Book Title-->
    <h2><%= b.title %></h2>
    
    <!--Display Book Info-->
    <table>
        <tr>
            <td><strong>Author:</strong></td>
            <td><%= b.author %></td>
        </tr>
        <tr>
            <td><strong>Rating:</strong></td>
            <td><%= b.rating %> STARS</td>
        </tr>
        <tr>
            <td><strong>Genre:</strong></td>
            <td><% if(b.fiction) %>
                    <%= "Fiction" %>
                <% else %>
                    <%= "Nonfiction" %>
                <% end %></td>
        </tr>
        <tr>
            <td><strong>Student(s):</strong></td>
            <!--List students who read the book-->
            <% @students.each do |s| %>
            <td><%= s.stud_first_name %></td>
            <% end %><!--End students loop-->
        </tr>
        <tr>
            <td><strong>Subject(s):</strong></td>
            <!--List subjects for the book-->
            <% @subjects.each do |j| %>
            <td><%= j.subject_name %></td>
            <% end %><!--End subjects loop-->
        </tr>
        <tr>
            <td><strong>Date Finished:</strong></td>
            <td><%= b.finish_date %></td>
        </tr>
    </table>
    
    <br>
    
    <!--Link to edit book-->
    (<a href="/books/update/<%= b.account_id %>/<%= b.pk %>">Edit Book</a>) 
        
    <br>
        
    <!--Link to delete book-->
    (<a href="/books/change/<%= b.account_id %>/<%= b.pk %>">Delete Book</a>)

<% end %><!--End book data access-->
        
   