<!--Access account data-->

<% @account.all do |i| %>

    <h3>Welcome Back, <%= i.acct_first_name %>!</h3>
    
    <h1>My Dashboard</h1>
    
    <h3>Student Portfolios:
        <!--List each student on account & link to individual portfolios-->
        <% @students.each do |s| %>
            <a href="/portfolio/<%= s.account_id %>/<%= s.pk %>"><%= s.stud_first_name %></a>
        <% end %><!--End student loop-->
    </h3> 
    
    <h3>Recent Activities:</h3>
    
    <ol reversed><!--List recent activities-->
        <% @activities.each do |a| %>
        <li>
            <!--Linked title-->
            <a href="/activities/<%= a.account_id %>/<%= a.pk %>"><%= a.title %></a> 
            
            <!--Subjects associated with activity-->
            <%# @activity_subjects.where(:activity_id => a.pk).each do |j| %>
                <!--(<%#= j.subject_name %>)-->
            <%# end %>
            
            <!--Activity date-->
            on <%= a.activity_date.month %>/<%= a.activity_date.day %>/<%= a.activity_date.year %> 
        </li><% end %><!--End activity loop-->
    </ol>
    
    <!--Link to add new activity-->
    <a href="/activities/new/<%= i.pk %>">Add New Activity</a><br><br>
    
    <h3>Recent Books:</h3>

    <ol reversed><!--List recent books-->
        <% @books.each do |b| %>
        <li>
            <!--Linked title-->
            <a href="/books/<%= b.account_id %>/<%= b.pk %>"><%= b.title %></a>,
            
            <!--Linked author-->
            by <a href="/books/author/<%= b.account_id %>/<%= b.author %>"><%= b.author %></a>, 
            
            <!--Finish Date-->
            read in <%= b.finish_date.month %>/<%= b.finish_date.year %> 
            
        </li><% end %><!--End book loop-->
    </ol>
    
    <!--Link to add new book-->
    <a href="/books/new/<%= i.pk %>">Add New Book</a><br><br>

<% end %><!--End account data access-->