<!--Access account data-->

<% @account.all do |i| %>

    <h3>Welcome Back, <%= i.acct_first_name %>!</h3>
    
    <h1>My Dashboard</h1>
    
    <h3>Student Portfolios:
        <!--List each student on account & link to individual portfolios-->
        <% @students.each do |s| %>
            <a href="/portfolio/<%= s.account_id %>/<%= s.pk %>"><%= s.stud_first_name %></a>
        <% end %><!--End student loop-->
    </h3> 
    
    <h3>Recent Activities:</h3>
    
    <ol><!--List recent activities-->
        <% @activities.each do |a| %>
        <li>
            <!--Linked title-->
            <a href="/activities/<%= a.account_id %>/<%= a.pk %>"><%= a.title %></a>, 
            
            <!--Subjects associated with activity-->
            <% @activity_subjects.where(:activity_id => a.pk).each do |j| %>
                (<%= j.subject_name %>)
            <% end %>
            
            <!--Activity date-->
            <%= a.activity_date %> 
            
            <!--Link to edit activity-->
            (<a href="/activities/update/<%= a.account_id %>/<%= a.pk %>">Edit</a>) 
            
            <!--Link to delete activity-->
            (<a href="/activities/change/<%= a.account_id %>/<%= a.pk %>">Delete</a>)
            
        </li><% end %><!--End activity loop-->
    </ol>
    
    <!--Link to add new activity-->
    <a href="/activities/new/<%= i.pk %>">Add New Activity</a><br><br>
    
    <h3>Recent Books:</h3>
    
    <ol><!--List recent books-->
        <% @books.each do |b| %>
        <li>
            <!--Linked title-->
            <a href="/books/<%= b.account_id %>/<%= b.pk %>"><%= b.title %></a>,
            
            <!--Linked author-->
            written by <a href="/books/author/<%= b.account_id %>/<%= b.author %>"><%= b.author %></a>, 
            
            <!--Finish Date-->
            Finish Date: <%= b.finish_date %> 
            
            <!--Link to edit book-->
            (<a href="/books/update/<%= b.account_id %>/<%= b.pk %>">Edit</a>) 
            
            <!--Link to delete book-->
            (<a href="/books/change/<%= b.account_id %>/<%= b.pk %>">Delete</a>)
            
        </li><% end %><!--End book loop-->
    </ol>
    
    <!--Link to add new book-->
    <a href="/books/new/<%= i.pk %>">Add New Book</a><br><br>

<% end %><!--End account data access-->