<!--Access book data-->

<% @book.all do |b| %>
       
    <h1>Delete Book</h1>
    
    <!--Warning message-->
    <p>Deleting '<%= b.title %>', by <%= b.author %> will delete the book from the portfolio of each participating student.</p>
    
    <h3>Are you sure you want to delete '<%= b.title %>', by <%= b.author %>?</h3>
    
    <!--Button to delete book-->
    <form method="post" action="/books/delete/<%= b.account_id %>/<%= b.pk %>">
        <table>   
            <tr>
                <td><label for="submit">Delete Book</label></td>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
    
<% end %><!--End book data access-->