<!--Access book data-->

<% @book.all do |b| %>
       
    <h1 class="title">Delete Book</h1>
    
    <!--Warning message-->
    <p>Deleting '<%= b.title %>', by <%= b.prefix %> <%= b.first_name %> <%= b.middle_name %> <%= b.last_name %> <%= b.suffix %> will delete the book from the portfolio of each participating student.</p>
    
    <p>Are you sure you want to delete '<%= b.title %>', by <%= b.prefix %> <%= b.first_name %> <%= b.middle_name %> <%= b.last_name %> <%= b.suffix %>?</p>
    
    <!--Button to delete book-->
    <form method="post" action="/books/delete/<%= b.account_id %>/<%= b.book_id %>">
        <table>   
            <tr>
                <td><label for="submit">Delete Book</label></td>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
    
<% end %><!--End book data access-->