<!--Student data access-->

<% @student.all do |s| %>

    <h1>Delete Student</h1>
    
    <!--Warning message-->
    <p>Deleting <strong><%= s.stud_first_name %></strong> from your account will delete <strong><%= s.stud_first_name %></strong> from all activities and books.</p>
    
    <h3>Are you sure you want to delete <%= s.stud_first_name %> from your account?</h3>
    
    <!--Button to delete student from account-->
    <form method="post" action="/students/delete/<%= s.account_id %>/<%= s.pk %>">
        <table>   
            <tr>
                <td><label for="submit">Delete Student</label></td>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>

<% end %><!--End student data access-->
    
