<!--Access account data-->
        
<% @account.all do |i| %>

    <h1>Add Book</h1>
   
    <!--Form to add new book-->
    <form method="post" action="/books/create/<%= i.pk %>">
        <table>
            <tr>
                <td><label for="title">Title:</label></td>
                <td><input type="text" name="title"></td>
            </tr>
            
            <tr>
                <td><label for="author">Author(Last, First):</label></td>
                <td><input type="text" name="author"></td>
            </tr>
            
            <tr>
                <td><label for="category">Category:</label></td>
                <!--Radio buttons allow only one choice to be selected-->
                <td><input type="radio" id="category1" name="category" value="0">Nonfiction</td>
                <td><input type="radio" id="category2" name="category" value="1">Fiction</td>
            </tr>
            
            <tr>
                <td><label for="rating">Rating(1-5):</label></td>
                <td><input type="number" name="rating"></td>
            </tr>
            
            <tr>
                <td><label for="finish_date">Date Finished:</label></td>
                <td><input type="date" name="finish_date"></td>
            </tr>
            
            <!--Checkbox for each student on the acount-->
            <tr>
                <td><label for="student_id[]">Student(s):</label></td>
                <% @students.each do |s| %>
                <td><input type="checkbox" name="student_id[]" value="<%= s.pk %>"> <%= s.stud_first_name %></td>
                <% end %>
            </tr>
 
<!-- - - - - - - - - - - - - - - S U B J E C T S - - - - - - - - - - - - - --->
            <!--'Subjects'  label plus first three subject options-->
            <tr>
                <td><label for="subject_id[]">Subject(s):</label></td>
                <% subarray = @subjects.to_a %>
                <% subarray[0..2].each do |j| %>
                <td><input type="checkbox" name="subject_id[]" value="<%= j.pk %>"><%= j.subject_name %></td>
                <% end %>
            </tr>
            
            <!--All remaining subject options organized three/row-->
            <% i = 3 %>
            <% sublength = subarray.length %>
            <% while i < sublength do %>
            <tr>
                <!--Empty column for 2nd+ rows for spacing under label - temporary-->
                <td></td>
                <% subarray[i..(i + 2)].each do |j| %>
                <td><input type="checkbox" name="subject_id[]" value="<%= j.pk %>"><%= j.subject_name %></td>
                <% end %>
                <% i += 3 %>
            </tr>
            <% end %><!--End 'while' loop for listing of subjects-->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ---> 
            
            <tr>
                <td><input type="submit"></td>
            </tr>
            <tr>
                <td><input type="reset"></td>
            </tr>
        </table>
    </form>

<% end %><!--End account data access-->
   