<!--Access account data-->
<% @account.all do |i| %>        
        
    <h1>Activities</h1>
    
    <!--Link to add new activity-->
    <div>
        <a href="/activities/new/<%= i.account_id %>">Add New Activity</a>
    </div>
    
<!------Setup to organize activities by year---------------------------------->
    <!--Create empty array for years-->    
    <% year_array = [] %>
    <!--Iterate through all activities and assign the year to a variable-->
    <% @activities.each do |a| %>
        <% year = a.activity_date.year %>
        <!--Push each value into the array-->
        <% year_array.push(year) %>
    <% end %>
    <!--Remove duplicate elements in the array, then iterate through each unique value-->
    <% year_array.uniq.each do |year| %>
    
        <h3><%= year %></h3>
        
        <ol reversed><!--List all activities from the current year-->
            <% @activities.where(Sequel.like(:activity_date, "#{year}%")).each do |a| %>
            <li>
                <!--Linked title-->
                <a href="/activities/<%= a.account_id %>/<%= a.activity_id %>"><%= a.title %></a> 
                    
                <!--List each subject connected to the activity-->
                <%# Subject.association_join(:activities_subjects).where(:activity_id => a.pk).each do |j| %>
                    <%#= j.subject_name %>
                <%# end %>
                
                <!--Formatted activity date-->
                <%= a.activity_date.month %><%= a.activity_date.day %>
            </li>
            <% end %><!--End activities for current year-->
        </ol>

    <% end %><!--End iteration through years-->

<% end %><!--End account data access-->

<div class="activities group">
    <h2>Year</h2>
    <div class="activity">
        <span class="title"><a href="">Activity Title</a></span>
        <span class="date">Date</span>        
    </div>
</div>