<!--Access account data-->
<% @account.all do |i| %>        
    
    <!--Target the 'sort' author-->
    <% books_array = @books.to_a %>
    <% author = books_array[0].last_name %>
    <h3>Books by <%= author %></h3>
    
    <ol reversed><!--List all books by selected author-->
        <% @books.each do |b| %>
        
        <li>
            <!--Linked title-->
            <a href="/books/<%= b.account_id %>/<%= b.pk %>"><%= b.title %><%= b.subtitle %></a> 
            <!--Author-->
            <%= b.prefix %><%= b.first_name %><%= b.middle_name %><%= b.last_name %><%= b.suffix %> 
            
            <!--Finished date-->
            <%= b.finish_date.month %>/<%= b.finish_date.year %> 
        </li>
        
        <% end %><!--End books by selected author loop-->
    </ol>
    
    <!--Link to add new book-->
    <a href="/books/new/<%= i.pk %>">Add New Book</a><br>
    
<% end %><!--End account data access-->
   