<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>Author Page</title>
    </head>
    <body>
        <!--Access account data-->
        <% @account.all do |i| %>
        
        <!--MENU-->
        <a href="/home/">Home</a>
        <a href="/accounts/<%= i.pk %>">Account</a>
        <a href="/dashboard/<%= i.pk %>">Dashboard</a>
        <a href="/activities/<%= i.pk %>">Activities</a>
        <a href="/books/<%= i.pk %>">Books</a>
        <a href="/subjects/<%= i.pk %>">Subjects</a>
        
        <!--Cycle through books to push like authors into an array-->
        <% same_author = [] %>
        <% @books.each do |b| %>
            <% author = b.author %>
            <% same_author.push(author) %>
        <% end %>
        
        <!--Trim down to one author to rule them all-->
        <% same_author.uniq.each do |a| %>
            <h1>Books by <%= a %></h1>
        <% end %>
        
        <ol><!--List all books by selected author-->
            <% @books.each do |b| %>
            
            <li>
                <!--Linked title-->
                <a href="/books/<%= b.account_id %>/<%= b.pk %>"><%= b.title %></a>, 
                
                <!--Author-->
                by <%= b.author %>, 
                
                <!--Finished date-->
                Finished on <%= b.finish_date %> 
            </li>
            
            <% end %><!--End books by selected author loop-->
        </ol>
        
        <!--Link to add new book-->
        <a href="/books/new/<%= i.pk %>">Add New Book</a><br>
        
        <% end %><!--End account data access-->
        
    </body>
</html>