<!--Access account data-->
<% @account.all do |i| %>        
    
    <!--Target the 'sort' author-->
    <% books_array = @books.to_a %>
    <% author = books_array[0].last_name %>
    <h1 class="title">Books by <%= author %></h3>
    
    <ol reversed><!--List all books by selected author-->
        <% @books.each do |b| %>
        
        <li>
            <!--Linked title-->
            <a href="/books/<%= b.account_id %>/<%= b.book_id %>">
                <span class="title"><%= b.title %></span>
                <span class="subtitle"><em><%= b.subtitle %></em></span>
            </a>
            
            <!--Author-->
            <span class="author"><%= b.prefix %> <%= b.first_name %> <%= b.middle_name %> <%= b.last_name %> <%= b.suffix %></span>
            
            <!--Finished date--> 
            <div class="date">
                <span class="month"><%= b.finish_date.month %></span>
                <span class="day"><%= b.finish_date.day %></span>
                <span class="year"><%= b.finish_date.year %></span>
            </div>
        </li>
        
        <% end %><!--End books by selected author loop-->
    </ol>
    
    <!--Link to add new book-->
    <a class="button" href="/books/new/<%= i.account_id %>">Add New Book</a><br>
    
<% end %><!--End account data access-->
   