<!--Access account data-->
<% @account.all do |i| %>
        
    <h2>View Portfolio by Subject</h2>
    
    <!--Linked list of all subjects on account-->
    <ol>
        <% @subjects.each do |j| %>
        <li>
            <!--Link to individual subject page-->
            <a href="/subjects/<%= j.account_id %>/<%= j.pk %>"><%= j.subject_name %></a>: 
            
            <!--Count # activities & books under that subject-->
            Activities (<%= @activities.where(subject_id: j.pk).count %>), 
            Books (<%= @books.where(subject_id: j.pk).count %>)
        </li>
        <% end %><!--End subject loop-->
    </ol>

<% end %><!--End account data access-->