<!--Access account data-->
<% @account.all do |i| %>
        
    <h2>My Portfolio Subjects:</h2>
    
    <!--List of subjects on account with Edit/Delete links-->
    <ol><% @subjects.each do |j| %>
        <li>
            <!--Subject name-->
            <%= j.subject_name %> 
            
            <!--Link to edit subject name-->
            (<a href="/subjects/update/<%= j.account_id %>/<%= j.pk %>">Edit</a>) 
            
            <!--Link to delete subject-->
            (<a href="/subjects/change/<%= j.account_id %>/<%= j.pk %>">Delete</a>)
        </li>
        <% end %><!--End subject loop-->
    </ol>
    
    <!--Link to add new subject to account-->
    <a href="/subjects/new/<%= i.pk %>">Add New Subject</a><br>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->  
    <h1>All Activities Organized by Subject</h1>
    
    <!--List of all activities on account organized by subject-->
    <ul>
        <% @subjects.each do |j| %>
        <li>
            <!--Link to individual subject page-->
            <a href="/subjects/<%= j.account_id %>/<%= j.pk %>"><%= j.subject_name %></a> 
            
            <!--Count # activities under that subject-->
            (<%= @activities.where(subject_id: j.pk).count %>)
            
            <!--List of subject-related activities-->
            <ol reversed><% @activities.where(subject_id: j.pk).each do |a| %>
                <li>
                    <!--Activity title-->
                    <a href="/activities/<%= a.account_id %>/<%= a.pk %>"><%= a.title %></a> 
                    
                    <!--Activity date-->
                    on <%= a.activity_date.month %>/<%= a.activity_date.day %>/<%= a.activity_date.year %>
                </li>
                <% end %><!--End activity loop-->
            </ol>
        </li>
        <% end %><!--End subject loop-->
    </ul>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<% end %><!--End account data access-->