<!--Access student data-->
<% @student.all do |s| %>
        
    <!--Page Title-->
    <h2><%= s.stud_first_name %>'s Books by <% @books.all do |b| %><%= b.last_name %><% end %></h2>
    
    <!--List books by certain author, read by certain student-->
    <ol>
        <% @books.each do |b| %>
        <li>
            <!--Link title-->
            <a href="/books/<%= b.account_id %>/<%= b.book_id %>"><%= b.title %><%= b.subtitle %></a> 
            <!--List author-->
            <%= b.prefix %><%= b.first_name %><%= b.middle_name %><%= b.last_name %><%= b.suffix %>
            
            <!--Formatted finish date-->
            <%= b.finish_date.month %><%= b.finish_date.day %><%= b.finish_date.year %> 
        </li>
        <% end %><!--End book loop-->
    </ol>
    
    <!--Link to add new book-->
    <a href="/books/new/<%= s.account_id %>">Add New Book</a><br>
        
<% end %><!--End student data access-->
        