<!--Access student data-->
<% @student.all do |s| %> 

    <h2><%= s.stud_first_name %>'s Education Portfolio</h2>

<!--------------------List Subjects w/Count------------------------------->    
    <h3>View <%= s.stud_first_name %>'s Portfolio by Subject</h3>
        
    <!--List of subjects with count of related activities for the current student -->
    <% @subjects.each do |j| %>
    
        <!--Linked subject name-->
        <a href="/portfolio/<%= j.account_id %>/<% @student.all do |s| %><%= s.student_id %><% end %>/<%= j.subject_id %>"><%= j.subject_name %> 
        
        <!--Activity count for subject-->
        (<%= @activities.association_join(:activities_subjects).where(subject_id: j.subject_id).count %>)</a><br>
        
    <% end %><!--End subject loop-->

<!---------------------List all activities-------------------------------->   
    <h3><%= s.stud_first_name %>'s Activities</h3>
        
    <!--Link to add new activity-->
    <a href="/activities/new/<%= s.account_id %>">Add New Activity</a>

    <!--List all student activities-->
    <ol reversed><% @activities.each do |a| %>
        <li>
            <!--Linked activity title-->
            <a href="/activities/<%= a.account_id %>/<%= a.activity_id %>"><%= a.title %></a>
            
            <!--Date of activity-->
            <%= a.activity_date.month %><%= a.activity_date.day %><%= a.activity_date.year %>
            
            <!--List subjects associated with the activity-->
            <%# Subject.association_join(:activities_subjects).where(activity_id: a.pk).each do |j| %>
                <%#= j.subject_name %>
            <%# end %>
            
            <!--Format activity duration verbage-->
            <!--
            <%# if(a.duration < 60) %>
                <%#= a.duration %> minutes
            <%# elsif(a.duration === 60) %>
                <%#= a.duration / 60 %> hour
            <%# else %>
                <%#= a.duration / 60 %> hours
            <%# end %>
            -->
        </li>
    <% end %><!--End activity loop-->
    </ol>

<!----------------------List all books------------------------------------>   
    <h3><%= s.stud_first_name %>'s Books</h3>
        
    <!--Link to add new book-->
    <a href="/books/new/<%= s.account_id %>">Add New Book</a>

    <!--List all student books-->
    <ol reversed><% @books.each do |b| %>
        <li>
            <!--Linked book title-->
            <a href="/books/<%= b.account_id %>/<%= b.book_id %>"><%= b.title %><%= b.subtitle %></a> 
            
            <!--Linked author-->
            <a href="/books/author/<%= b.account_id %>/<%= s.student_id %>/<%= b.last_name %>"><%= b.prefix %><%= b.first_name %><%= b.middle_name %><%= b.last_name %><%= b.suffix %></a> 
            
            <!--Date book finished-->
            <%= b.finish_date.month %><%= b.finish_date.day %><%= b.finish_date.year %>
        </li>
    <% end %><!--End book loop-->
    </ol>
    
<% end %><!--End student data access-->