<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>Student Name</title>
    </head>
    <body>
        <% @student.all do |row| %>
        
        <a href="/home/">Home</a>
        <a href="/accounts/<%= row[:account_id] %>">Account</a>
        <a href="/dashboard/<%= row[:account_id] %>">Dashboard</a>
        <a href="/activities/<%= row[:account_id] %>">Activities</a>
        <a href="/books/<%= row[:account_id] %>">Books</a>
        <a href="/subjects/<%= row[:account_id] %>">Subjects</a>
        
        <h1><%= row[:stud_first_name] %> <%= row[:stud_last_name] %></h1>
        
        <table>
            <tr>
                <td><strong>Age:</strong></td>
                <!--Calculate age: currently accurate within a year - not precise-->
                <td><%= Time.now.year - row[:birth_date].year %> (ish)</td>
            </tr>
            <tr>
                <td><strong>Birthday:</strong></td>
                <td><%= row[:birth_date].month %>-<%= row[:birth_date].day %>-<%= row[:birth_date].year %></td>
            </tr>
            <tr>
                <td><strong>Join Date:</strong></td>
                <td><%= row[:enroll_date].month %>-<%= row[:enroll_date].day %>-<%= row[:enroll_date].year %></td>
            </tr>
            <tr><% @account.all do |row| %>
                <td><strong>Account Holder:</strong></td>
                <td><%= row[:acct_first_name] %> <%= row[:acct_last_name] %></td>
                <% end %>
            </tr>
        </table>
    
        <a href="/portfolio/<%= row[:account_id] %>/<%= row[:student_id] %>">Go to <%= row[:stud_first_name] %>'s Portfolio</a><br>
            
        <% end %>
    </body>
</html>