<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>Author Page</title>
    </head>
    <body>
        <% @books.join(:students, :student_id => Sequel[:books_students][:student_id]).all do |row| %>
        
        <a href="/home/">Home</a>
        <a href="/accounts/<%= row[:account_id] %>">Account</a>
        <a href="/dashboard/<%= row[:account_id] %>">Dashboard</a>
        <a href="/activities/<%= row[:account_id] %>">Activities</a>
        <a href="/books/<%= row[:account_id] %>">Books</a>
        <a href="/subjects/<%= row[:account_id] %>">Subjects</a>
        
        <h1><%= row[:stud_first_name] %>'s Books by <%= row[:author] %></h1>
        
        <ol>
            <li>
                <a href="/books/<%= row[:account_id] %>/<%= row[:book_id] %>"><%= row[:title] %></a>, by <%= row[:author] %>, Finished on <%= row[:finish_date] %>, Rated <%= row[:rating] %> stars
                <a href="">
                    <% if(row[:fiction]) %>
                        <%= "Fiction" %>
                    <% else %>
                        <%= "Nonfiction" %>
                    <% end %>
                </a>
            </li>
            
        </ol>
        
        <a href="/books/new/<%= row[:account_id] %>">Add New Book</a><br>
        
        <% end %>
        
    </body>
</html>