<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>Student Subject</title>
    </head>
    
    <body>
        <% @student.each do |row| %>
        
        <a href="/home/">Home</a>
        <a href="/accounts/<%= row[:account_id] %>">Account</a>
        <a href="/dashboard/<%= row[:account_id] %>">Dashboard</a>
        <a href="/activities/<%= row[:account_id] %>">Activities</a>
        <a href="/books/<%= row[:account_id] %>">Books</a>
        <a href="/subjects/<%= row[:account_id] %>">Subjects</a>
        
        <h1><%= row[:stud_first_name] %>'s <% @subject.all do |row| %><%= row[:subject_name] %><% end %> Activities</h1>
        
        <ol><% @activities.each do |row| %>
            <li>
                <a href="/activities/<%= row[:account_id] %>/<%= row[:activity_id] %>"><%= row[:activity_date] %>: <%= row[:title] %>, 
                    <% Subject.association_join(:activities_subjects).where(:activity_id => row[:activity_id]).each do |row| %>
                        <%= row[:subject_name] %>,
                    <% end %>
                    <%= row[:duration] %> minutes</a>
            </li>
            <% end %>
        </ol><br>
        
        <h1><%= row[:stud_first_name] %>'s <% @subject.all do |row| %><%= row[:subject_name] %><% end %> Books</h1>
        
        <ol><% @books.each do |b| %>
            <li>
                <a href="/books/<%= b.account_id %>/<%= b.pk %>"><%= b.title %></a> by <%= b.author %>,
                    <% Subject.association_join(:books_subjects).where(:book_id => b.pk).each do |j| %>
                        <%= j.subject_name %>,
                    <% end %>
                    Finished on <%= b.finish_date %>
            </li>
            <% end %>
        </ol>
        
        <!-- list books by student/subject -->  
        <% end %>
        
    </body>
</html>