<!--Access student data-->
<% @student.all do |s| %>

    <h1><%= s.stud_first_name %> <%= s.stud_last_name %></h1>
    
    <!--Table to display student info-->
    <table>
        <tr>
            <td><strong>Age:</strong></td>
            <!--Calculate age-->
            <% age = Date.today.year - s.birth_date.year %>
            <% age -= 1 if Date.today.month < s.birth_date.month || (Date.today.month == s.birth_date.month && Date.today.day < s.birth_date.day) %>
            <td><%= age %></td>
        </tr>
        <tr>
            <td><strong>Birthday:</strong></td>
            <td><%= s.birth_date.month %><%= s.birth_date.day %><%= s.birth_date.year %></td>
        </tr>
        <tr>
            <td><strong>Join Date:</strong></td>
            <td><%= s.enroll_date.month %> <%= s.enroll_date.day %> <%= s.enroll_date.year %></td>
        </tr>
        <tr><!--Access account data-->
            <% @account.all do |i| %>
            <td><strong>Account Holder:</strong></td>
            <td><%= i.acct_first_name %> <%= i.acct_last_name %></td>
            <% end %><!--End account data access-->
        </tr>
    </table>

    <!--Link to student's portfolio-->
    <a href="/portfolio/<%= s.account_id %>/<%= s.student_id %>">Go to <%= s.stud_first_name %>'s Portfolio</a><br>
        
<% end %><!--End student data access-->