<!--Access data by subject-->
<% @subject.all do |j| %>

    <h2><%= j.subject_name %> Activities</h2>
    
        <!--List all subject activities-->
        <ol reversed><% @activities.each do |a| %>
            <li>
                <!--Linked activity title-->
                <a href="/activities/<%= a.account_id %>/<%= a.pk %>"> <%= a.title %></a>
                
                <!--Activity date-->
                on <%= a.activity_date.month %>/<%= a.activity_date.day %>/<%= a.activity_date.year %>
                
                <!--List of students who participated in the activity-->
                <%# @students.where(activity_id: a.pk).each do |s| %>
                    <%#= s.stud_first_name %>
                <%# end %>
                
                <!--Format activity duration verbage-->
                <!--
                <%# if(a.duration < 60) %>
                    <%#= a.duration %> minutes
                <%# elsif(a.duration === 60) %>
                    <%#= a.duration / 60 %> hour
                <%# else %>
                    <%#= a.duration / 60 %> hours
                <%# end %>
                -->
            </li>
        <% end %><!--End activity loop-->
        </ol>
    
    <h2><%= j.subject_name %> Books</h2>
    
        <!--List all subject books-->
        <ol reversed><% @books.each do |b| %>
            <li>
                <!--Linked book title-->
                <a href="/books/<%= b.account_id %>/<%= b.pk %>"><%= b.title %><%= b.subtitle %></a> 
                
                <!--Linked author-->
                <a href="/books/author/<%= b.account_id %>/<%= b.last_name %>"><%= b.prefix %><%= b.first_name %><%= b.middle_name %><%= b.last_name %><%= b.suffix %></a> 
                
                <!--Date book finished-->
                <%= b.finish_date.month %>/<%= b.finish_date.year %>
                
                <!--List students who read the book-->
                <%# @book_students.where(book_id: b.pk).each do |s| %>
                    <!--(<%#= s.stud_first_name %>)-->
                <%# end %>
            </li>
        <% end %><!--End book loop-->
        </ol>
        
<% end %><!--End subject data access-->