<!--Access data by subject-->
<% @subject.all do |j| %>

    <h1 class="title"><%= j.subject_name %> Portfolio</h1>

<!------------------List all activities for current subject-------------------->
    
    <h2 class="activities"><%= j.subject_name %> Activities</h2>
    
    <!--List all subject activities-->
    <ol reversed><% @activities.each do |a| %>
        <li>
            <!--Linked activity title-->
            <a class="title" href="/activities/<%= a.account_id %>/<%= a.activity_id %>"><%= a.title %></a>
            
            <!--Activity date-->
            <div class="date">
                <span class="month"><%= a.activity_date.month %></span>
                <span class="day"><%= a.activity_date.day %></span>
                <span class="year"><%= a.activity_date.year %></span>
            </div>
            
            <!--List of students who participated in the activity-->
            <%# @students.where(activity_id: a.pk).each do |s| %>
                <%#= s.stud_first_name %>
            <%# end %>
        </li>
        <% end %><!--End activity loop-->
    </ol><!--End list of activities-->

<!--------------------List all books for current subject----------------------->
    
    <h2 class="books"><%= j.subject_name %> Books</h2>
    
    <!--List all subject books-->
    <ol reversed><% @books.each do |b| %>
        <li>
            <!--Linked title-->
            <a href="/books/<%= b.account_id %>/<%= b.book_id %>">
                <span class="title"><%= b.title %></span>
                <span class="subtitle"><em><%= b.subtitle %></em></span>
            </a>  
            
            <!--Linked author-->
            <a class="author" href="/books/author/<%= b.account_id %>/<%= b.last_name %>"><%= b.prefix %> <%= b.first_name %> <%= b.middle_name %> <%= b.last_name %> <%= b.suffix %></a> 
            
            <!--Finish Date-->
            <div class="date">
                <span class="month"><%= b.finish_date.month %></span>
                <span class="day"><%= b.finish_date.day %></span>
                <span class="year"><%= b.finish_date.year %></span>
            </div><!--End date div-->
            
            <!--List students who read the book-->
            <%# @book_students.where(book_id: b.pk).each do |s| %>
                <!--(<%#= s.stud_first_name %>)-->
            <%# end %>
        </li>
        <% end %><!--End book loop-->
    </ol><!--End list of books-->
        
<% end %><!--End subject data access-->