<!--Access subject data-->
<% @subject.all do |j| %>        
    
    <h2>Current Subjects</h2>
    
    <ol>
        <!--List all subjects currently on account-->
        <% @subjects.each do |j| %>
            <li><%= j.subject_name %></li>
        <% end %>
    </ol>
    
    <h1>Update Subject</h1>
    
    <!--Form prefilled with current subject data-->
    <form method="post" action="/subjects/create/<%= j.account_id %>/<%= j.subject_id %>">
        <table>
            <tr>
                <td><label for="subject_name">Subject Name:</label></td>
                <td><input type="text" name="subject_name" value="<%= j.subject_name %>"></td>
            </tr>
            <tr>
                <td><label for="description">Description (Opt):</label></td>
                <td><input type="text" name="description" value="<%= j.description %>"></td>
            </tr>
            <tr>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
    
<% end %><!--End subject data access-->