<!--Access activity data-->

<% @activity.each do |a| %>
     
    <!--Activity title-->    
    <h1 class="title"><%= a.title %></h1>
    
    <!--Date of activity-->
    <div class="date">
        <span class="label">Activity Date:</span>
        <div class="data">
            <span class="month"><%= a.activity_date.month %></span>
            <span class="day"><%= a.activity_date.day %></span>
            <span class="year"><%= a.activity_date.year %></span>
        </div>
    </div>
    
    <!--List students who participated in the activity-->
    <div class="students">
        <span class="label">Student(s):</span>
        <% @students.each do |s| %>
        <span class="data"><%= s.stud_first_name %></span>
        <% end %><!--End students loop-->
    </div>
    
    <!--Duration of activity-->
    <div class="duration">
        <span class="label">Duration:</span>
        <span class="data">
            <!--Format activity duration verbage-->
            <% if(a.duration < 60) %>
                <%= a.duration %> Minutes
            <% elsif(a.duration === 60) %>
                <%= a.duration / 60 %> Hour
            <% elsif(a.duration > 60 && a.duration / 60 === 1) %>
                <%= a.duration / 60 %> Hour <%= a.duration % 60 %> Minutes
            <% elsif(a.duration > 60 && a.duration % 60 === 0) %>
                <%= a.duration / 60 %> Hours
            <% else %>
                <%= a.duration / 60 %> Hours <%= a.duration % 60 %> Minutes
            <% end %></span>
    </div>
    
    <!--List subjects associated with the activity-->
    <div class="subjects">
        <span class="label">Subject(s):</span>
        <% @subjects.each do |j| %>
        <span class="data"><%= j.subject_name %></span>
        <% end %><!--End subjects loop-->
    </div>
    
    <!--Activity description-->
    <div class="description">
        <span class="label">Description:</span>
        <span class="data"><%= a.description %></span>
    </div>
    
    <!--Links to edit/delete current activity-->
    <div class="actions">
        <!--Link to edit activity-->
        <a class="button edit" href="/account/activities/update/<%= a.activity_id %>">Edit Activity</a>
        <!--Link to delete activity-->
        <a class="button delete" href="/account/activities/change/<%= a.activity_id %>">Delete Activity</a>
    </div>
    
    <!--Link to portfolio of each student who participated in activity-->
    <div class="stud_portfolios">
        <span class="label">View Student's Portfolio:</span>
        <% @students.each do |s| %>
        <a class="button" href="/account/portfolio/<%= s.student_id %>"><%= s.stud_first_name %></a>
        <% end %><!--End to students loop-->
    </div>
    
<% end %><!--End activity data access-->
        
