<!--Access book data-->

<% @book.each do |b| %>
        
    <!--Book Title-->
    <h1 class"title"><%= b.title %></h1>
    <p class="subtitle"><%= b.subtitle %></p>
    
    <!--Date book finished-->
    <div class="date">
        <span class="label">Date Finished:</span>
        <div class="data">
            <span class="month"><%= b.finish_date.month %></span>
            <span class="day"><%= b.finish_date.day %></span>
            <span class="year"><%= b.finish_date.year %></span>
        </div>
    </div>
    
    <!--Display book author-->
    <div class="author">
        <span class="label">Author:</span>
        <div class="data">
            <span class="prefix"><%= b.prefix %></span>
            <span class="first"><%= b.first_name %></span>
            <span class="middle"><%= b.middle_name %></span>
            <span class="last"><%= b.last_name %></span>
            <span class="suffix"><%= b.suffix %></span>
        </div>
    </div>
    
    <!--Display fiction vs nonfiction-->
    <div class="category">
        <span class="label">Category:</span>
        <span class="data"><%= b.category %></span>
    </div>
    
    <!--Display book rating-->
    <div class="rating">
        <span class="label">Rating:</span>
        <span class="data"><%= b.rating %></span>
    </div>
    
    <!--Display students who read the book-->
    <div class="students">
        <span class="label">Student(s):</span>
        <% @students.each do |s| %>
        <span class="data"><%= s.stud_first_name %></span>
        <% end %><!--End students loop-->
    </div>
    
    <!--List subjects selected for the book-->
    <div class="subjects">
        <span class="label">Subject(s):</span>
        <% @subjects.each do |j| %>
        <span class="data"><%= j.subject_name %></span>
        <% end %><!--End subjects loop-->
    </div>

    <!--Links to edit/delete current book-->
    <div class="actions">
        <!--Link to edit book-->
        <a class="button edit" href="/account/books/update/<%= b.book_id %>">Edit Book</a>
        <!--Link to delete book-->
        <a class="button delete" href="/account/books/change/<%= b.book_id %>">Delete Book</a>
    </div>
    
    <!--Link to portfolio of each student who read the book-->
    <div class="stud_portfolios">
        <span class="label">View Student's Portfolio:</span>
        <% @students.each do |s| %>
        <a class="button" href="/account/portfolio/<%= s.student_id %>"><%= s.stud_first_name %></a>
        <% end %><!--End to students loop-->
    </div>
    
<% end %><!--End book data access-->
        
   