<!--Access activity data-->

<% @activity.all do |a| %>
        
    <h1 class="title">Delete Activity</h1>
    
    <!--Warning message-->
    <p>Deleting '<%= a.title %>' will delete the activity from the portfolio of each participating student.</p>
    
    <p>Are you sure you want to delete '<%= a.title %>'?</p>
    
    <!--Button to delete activity-->
    <form method="post" action="/activities/delete/<%= a.account_id %>/<%= a.activity_id %>">
        <div class="actions">
            <input type="submit" value="Delete">
            <a class="button" href="/activities/<%= a.account_id %>/<%= a.activity_id %>">Cancel</a>
        </div>
    </form>
    
<% end %><!--End activity data access-->
 