<!--Access book data-->
<% @book.all do |b| %>        
    
    <h1 class="title">Update Book</h1>
    
    <div>
        <!--Form prefilled with current book info but checkboxes unchecked-->
        <form method="post" action="/books/create/<%= b.account_id %>/<%= b.book_id %>">
            <div class="book_title">
                <label for="title">Title:</label>
                <input type="text" name="title" value="<%= b.title %>" placeholder="title...">
                <input type="text" name="subtitle" value="<%= b.subtitle %>" placeholder="subtitle...">
            </div>
            

            <div class="author">
                <label for="author">Author:</label>
                <input type="text" name="prefix" value="<%= b.prefix %>" placeholder="prefix...">
                <input type="text" name="first_name" value="<%= b.first_name %>" placeholder="first name...">
                <input type="text" name="middle_name" value="<%= b.middle_name %>" placeholder="middle name...">
                <input type="text" name="last_name" value="<%= b.last_name %>" placeholder="last name...">
                <input type="text" name="suffix" value="<%= b.suffix %>" placeholder="suffix...">
            </div>
            
                           
            <div class="category">
                <label for="category">Category:</label>
                <!--Radio buttons allow only one choice to be selected-->
                <!--if prior category value = 'nonfiction', preselect 'nonfiction'-->
                <% if(b.category === "Nonfiction") %>
                    <input type="radio" id="category1" name="category" value="Nonfiction" checked="checked">Nonfiction
                    <input type="radio" id="category2" name="category" value="Fiction">Fiction
                <!--if prior category value = 'fiction', preselect 'fiction'-->
                <% else %>
                    <input type="radio" id="category1" name="category" value="Nonfiction">Nonfiction
                    <input type="radio" id="category2" name="category" value="Fiction" checked="checked">Fiction
                <% end %><!--End if-not-true statement-->
            </div>
                    
                       
            <div class="rating">
                <label for="rating">Rating(1-5):</label>
                <input type="number" name="rating" value="<%= b.rating %>">
            </div>
            
            
            <div class="date">
                <label for="finish_date">Date Finished:</label>
                <input type="date" name="finish_date" value="<%= b.finish_date %>">
            </div>
<!-- - - - - - - - - - - - - - - S T U D E N T S - - - - - - - - - - - - - ---> 
            <div class="students">
                <!--Checkbox for each student on the acount-->
                <label for="student_id[]">Student(s):</label>
                
                <!--Capture the id for each student previously selected for the book-->
                <% id_array = [] %>
                <% @books_students.each do |s| %>
                    <% id = s.student_id %>
                    <% id_array.push(id) %>
                <% end %>
                        
                <!--List all students on account-->
                <% @students.each do |s| %>
                    <!--If student was previously selected = 'checked'-->
                    <% if(id_array.include?(s.student_id)) %> 
                        <input type="checkbox" name="student_id[]" value="<%= s.student_id %>" checked="checked"><%= s.stud_first_name %>
                    <!--If student was not previously selected ='unchecked'-->
                    <% else %>
                        <input type="checkbox" name="student_id[]" value="<%= s.student_id %>"><%= s.stud_first_name %>
                    <% end %>
                <% end %><!--End student loop-->
            </div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
    
    
<!-- - - - - - - - - - - - -S U B J E C T S - - - - - - - - - - - - - - - - --->
            <div class="subjects_label">
                <!--Checkbox for each subject on account (alphabetically)-->
                <label for="subject_id[]">Subject(s):</label>
            </div>
                
            <!--Capture id for each subject previously selected-->
            <% id_array = [] %>
            <% @books_subjects.each do |j| %>
                <% id = j.subject_id %>
                <% id_array.push(id) %>
            <% end %>
                
            <!--Create array for subject organization-->
            <% subj_array = @subjects.to_a %>
            <% i = 0 %>
            <% subj_length = subj_array.length %>
            <% while i < subj_length do %>
                <!--Display subjects 3/row-->
                <div class="subjects">
                    <% subj_array[i..(i + 2)].each do |j| %>
                        <!--If subject was previously selected = 'checked'-->
                        <% if(id_array.include?(j.subject_id)) %> 
                        <input type="checkbox" name="subject_id[]" value="<%= j.subject_id %>" checked="checked"><%= j.subject_name %>
                        <!--If subject was not previously selected = 'unchecked'-->
                        <% else %>
                        <input type="checkbox" name="subject_id[]" value="<%= j.subject_id %>"><%= j.subject_name %>
                        <% end %><!--End if include? statement-->
                    <% end %><!--End subjects loop-->
                </div>
                <% i += 3 %>
            <% end %><!--End while loop-->
            
            
<!--The splitting of subjects into two code segments is purely cosmetic and temporary. 
            <!--Create array for subject organization-->
            <%# subj_array = @subjects.to_a %>
            
            <!--First three items in array...-->
            <%# subj_array[0..2].each do |j| %>
                <!--If the subject was previously selected for the book, default to the name being 'checked'-->
                <%# if(id_array.include?(j.subject_id)) %> 
                    <!--<input type="checkbox" name="subject_id[]" value="<%#= j.subject_id %>" checked="checked"><%#= j.subject_name %>
                <!--If the subject was not previously selected, default to the name being 'unchecked'-->
                <%# else %>
                    <!--<input type="checkbox" name="subject_id[]" value="<%#= j.subject_id %>"><%#= j.subject_name %>
                <%# end %><!--End if include? statement-->
            <%# end %><!--End first three subjects loop-->
                
            <!--All remaining subject options organized three/row, skipping over the column holding the 'subjects' label-->
            <%# i = 3 %>
            <%# subj_length = subj_array.length %>
            <%# while i < subj_length do %>
                <!--Array items 3-5, 6-8, 9-11...-->
                <%# subj_array[i..(i + 2)].each do |j| %>
                    <!--If the subject was previously selected for the book, default to the name being 'checked'-->
                    <%# if(id_array.include?(j.subject_id)) %> 
                        <!--<input type="checkbox" name="subject_id[]" value="<%#= j.subject_id %>" checked="checked"><%#= j.subject_name %>
                    <!--If the subject was not previously selected, default to the name being 'unchecked'-->
                    <%# else %>
                        <!--<input type="checkbox" name="subject_id[]" value="<%#= j.subject_id %>"><%#= j.subject_name %>
                    <%# end %><!--End if include? statement-->
                <%# end %><!--End subj_array loop-->
            
                <%# i += 3 %><!--Change value of i and loop again-->
            <%# end %><!--End 'while' loop for listing of subjects-->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
            <div class="actions">    
                <input type="submit" value="Update">
                <a class="button" href="/books/<%= b.account_id %>/<%= b.book_id %>">Cancel</a>
            </div>
        </form>
    </div>
<% end %><!--End book data access-->
