<!--Access student data-->
<% @student.all do |s| %>        
    
    <h1 class="title">Update Student</h1>
    
    <div>
        <!--Form prefilled with current student data-->
        <form method="post" action="/students/create/<%= s.account_id %>/<%= s.student_id %>">
            <label for="stud_first_name">First Name:</label>
            <input type="text" name="stud_first_name" value="<%= s.stud_first_name %>">
            
            <label for="stud_last_name">Last Name:</label>
            <input type="text" name="stud_last_name" value="<%= s.stud_last_name %>">
            
            <label for="birth_date">Birth Date:</label>
            <input type="date" name="birth_date" value="<%= s.birth_date %>">
            
            <input type="submit" value="Update Student">
        </form>
    </div>
    
<% end %><!--End student data access-->