<!--Access subject data-->
<% @subject.all do |j| %>        
    
    <h1 class="title">Update Subject</h1>
    
    <div>
        <!--Update form prefilled with current subject data-->
        <form method="post" action="/subjects/create/<%= j.account_id %>/<%= j.subject_id %>">
            <label for="subject_name">Subject Name:</label>
            <input type="text" name="subject_name" value="<%= j.subject_name %>" placeholder="<%= j.subject_name %>">
        
            <label for="description">Description (Opt):</label>
            <input type="text" name="description" value="<%= j.description %>" placeholder="description...">
        
            <input type="submit" value="Update">
        </form>
    </div>
    
    <h2 class="subjects">Current Subjects</h2>
    
    <ol>
        <!--List all subjects currently on account-->
        <% @subjects.each do |j| %>
            <li><%= j.subject_name %></li>
        <% end %>
    </ol>
    
<% end %><!--End subject data access-->