<!--Access account data-->
<% @account.all do |i| %>

    <h1 class="title">Manage Students</h1>
    
    <ol><!--List each student on account-->
        <% @students.each do |s| %>
        <li>
            <!--Link to student info-->
            <a class="student" href="/students/<%= s.account_id %>/<%= s.student_id %>"><%= s.stud_first_name %></a> 
            
            <!--Link to edit student info-->
            <a class="button edit" href="/students/update/<%= s.account_id %>/<%= s.student_id %>">Edit</a> 
            
            <!--Link to delete student-->
            <a class="button delete" href="/students/change/<%= s.account_id %>/<%= s.student_id %>">Delete</a>
        </li><% end %><!--End students loop-->
    </ol>
    
    <!--Link to add new student to account-->
    <a class="button" href="/students/new/<%= i.account_id %>">Add New Student</a>

<% end %><!--End account data access-->