<!--Access student data-->
<% @student.all do |s| %>
        
    <!--Page Title-->
    <h1 class="title"><%= s.stud_first_name %>'s Books by <% @books.all do |b| %><%= b.last_name %><% end %></h1>
    
    <!--List books by certain author, read by certain student-->
    <ol>
        <% @books.each do |b| %>
        <li>
            <!--Linked title-->
            <a href="/books/<%= b.account_id %>/<%= b.book_id %>">
                <span class="title"><%= b.title %></span>
                <span class="subtitle"><em><%= b.subtitle %></em></span>
            </a> 
            
            <!--List author-->
            <span class="author"><%= b.prefix %> <%= b.first_name %> <%= b.middle_name %> <%= b.last_name %> <%= b.suffix %></span>
            
            <!--Finish Date-->
            <div class="date">
                <span class="month"><%= b.finish_date.month %></span>
                <span class="day"><%= b.finish_date.day %></span>
                <span class="year"><%= b.finish_date.year %></span>
            </div><!--End date div-->
        </li>
        <% end %><!--End book loop-->
    </ol>
    
    <!--Link to add new book-->
    <a class="button" href="/books/new/<%= s.account_id %>">Add New Book</a><br>
        
<% end %><!--End student data access-->
        